<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!-- Agrega aquí la cadena de conexión -->
	<connectionStrings>
		 <!--Cadena que debe usarse con autenticacion sql-->
		<add name="MiConexion"
			connectionString="Server=localhost;Database=escuela;User Id=jeronimo_martinez;Password=jeronimo12345_.;"
		providerName="System.Data.SqlClient"/>
  

		<!-- Cadena de conexión con autenticación de Windows (solo para pruebas, a ser borrada) -->
		<!--<add name="MiConexion"
				connectionString="Server=LAPTOP-LEU31THU\SQLSERVER;Database=ColegioDB;Integrated Security=True;"
				providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	
</configuration>